{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<html
    class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
    lang="en">



<body class="gray-bg">

    <header class="header_area">
        <div class="header_navbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li>
                                <a class="active" href="{% url 'index' %}">Home
                                    <span class="line"></span></a>
                            </li>
                            <li>
                                <a href="{% url 'categories' %}">Categories <span
                                        class="line"></span></a>
                            </li>
                            
                            <li><a href="{% url 'about' %}">About<span
                                class="line"></span></a></a></li>
                            <li><a href="{% url 'product' %}">Books<span
                                class="line"></span></a></a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="navbar_btn">
                        <ul>
                            <li>
                                <div class="dropdown">
                                    <a href="{% url 'index' %}"
                                        class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">My Account</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <ul>
                                            
                                            {% if request.session.email %}
                                            
                                            <li><a
                                                    href="{% url 'profile_settings' %}">
                                                    <i class="fa-solid fa-gear"></i> Profile Settings</a></li>
                                            <li><a href="{% url 'myads' %}">
                                                <i class="fa-solid fa-layer-group"></i> My Ads</a></li>
                                            
                                            <li><a href="{% url 'signout' %}"><i class="fa-solid fa-right-from-bracket"></i> Sign Out ({{request.session.fname}})</a></li>
                                            {% else %}
                                            <li><a href="{% url 'signin' %}">Sign In</a></li>
                                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                            {% endif %}
                                    </ul>
                                    </div>
                                </div>
                            </li>
                            {% if request.session.email %}
                            <li><a class="sign-up"
                                href="{% url 'post_ads' %}">Post Book</a></li>
                           
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="header_content bg_cover" style="background-image: url({% static 'images/hero.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="content_wrapper">
                            <h3 class="title">Welcome to Online Book selling Store</h3>
                            <p>Buy And Sell Everything From BOOKS , Or Search For
                                Property</p>
                            <ul class="header_btn">
                                <li><a class="main-btn"
                                        href="{% url 'product' %}">Browse Book</a>
                                </li>
                                {% if request.session.email %}
                            
                           
                            
                                <li><a class="main-btn main-btn-2"
                                        href="{% url 'post_ads' %}">Post an Book</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header_search">
                    <form action="{% url 'searched' %}" method="post">
                        {% csrf_token %}
                        <div class="search_wrapper d-flex flex-wrap">
                            
                            <div class="search_column d-flex flex-wrap">
                                <div class="search_form mt-15">
                                    <input type="text" placeholder="Type Book Name" name="search">
                                    <i class="fa-solid fa-i-cursor"></i>
                                </div>
                                <div class="search_btn mt-15">
                                    <button class="main-btn">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="header_keyword d-sm-flex">
                        <span class="title">Trending Keywords:</span>
                        <ul class="tags media-body">
                            <li><a href="{% url 'index' %}">Python</a></li>
                            <li><a href="{% url 'index' %}">Java</a></li>
                            <li><a href="{% url 'index' %}">PHP</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
   


    <section class="ads_area pt-70 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ads_tabs d-sm-flex align-items-end justify-content-between pb-30">
                        <div class="section_title mt-45">
                            <h3 class="title">Recently Published Book</h3>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="ads_tabs">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                        <div class="row">
                            {% for i in books %}
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_ads_card mt-30">
                                    <div class="ads_card_image">
                                        <img src="{{i.book_image.url}}" style="height:" alt="ads">
                                    </div>
                                    <div class="ads_card_content">
                                        <div class="meta d-flex justify-content-between">
                                            <p>{{i.book_cat}}</p>
                                            
                                        </div>
                                        <h4 class="title"><a
                                                href="{% url 'product_details' %}?product={{i.id}}">{{i.book_name}}</a></h4>
                                        <p><i class="fa-solid fa-map-location-dot"></i>{{i.city}} , {{i.state}}</p>
                                        <div class="ads_price_date d-flex justify-content-between">
                                            <span class="price"><i class="fa-solid fa-indian-rupee-sign"></i>{{i.book_price}}</span>
                                            <span class="date">{{i.date}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    
                        
                    
                </div>
            </div>
        </div>
    </section>


    


    {% comment %} <section class="locations_area pt-115 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_title pb-15">
                        <h3 class="title">Explore <br> The Locations</h3>
                    </div>
                </div>
            </div>
            <div class="locations_wrapper">
                <div class="row justify-content-center">
                    {% for i in books %}
                    <div class="col-lg-4 col-md-7 col-sm-8">
                        <div class="single_locations mt-30">
                            <div class="locations_image">
                                <img src="{% static 'images/locations-1.jpg' %}" alt="Locations">
                            </div>
                            <div class="locations_content">
                                <h5 class="title"><a href="{% url 'product' %}"><i
                                            class="far fa-map-marker-alt"></i>{{i.city}}</a></h5>
                                <p>25 ads posted in this location</p>
                                <a class="view" href="{% url 'product' %}">View
                                    All Ads Here <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="locations_btn text-center">
                    <a class="main-btn" href="{% url 'index' %}">View all
                        Locations</a>
                </div>
            </div>
        </div>
    </section> {% endcomment %}


    

    


   


    


    


    

    <footer class="footer_area">
        <div class="footer_copyright pt-15 pb-30">
            <div class="container">
                <div class="footer_copyright_wrapper text-center d-sm-flex justify-content-between align-items-center">
                    <div class="copyright mt-15">
                        <p>Designed and Developed by <a href="https://graygrids.com/" rel="nofollow">GrayGrids</a></p>
                    </div>
                    <div class="payment mt-15">
                        <ul>
                            <li><a href="{% url 'product_details'%}"><img
                                        src="{% static 'images/payment-method1.jpg' %}"
                                        alt="payment"></a></li>
                            <li><a href="{% url 'product_details'%}"><img
                                        src="{% static 'images/payment-method2.jpg' %}"
                                        alt="payment"></a></li>
                            <li><a href="{% url 'product_details'%}"><img
                                        src="{% static 'images/payment-method3.jpg' %}"
                                        alt="payment"></a></li>
                            <li><a href="{% url 'product_details'%}"><img
                                        src="{% static 'images/payment-method4.jpg' %}"
                                        alt="payment"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <a href="{% url 'index' %}" class="back-to-top"><i
            class="fa fa-angle-up"></i></a>





    

    


</body>

</html>
{% endblock %}