{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<html
    class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
    lang="en">



<body class="gray-bg">

    


    <header class="header_area">
        <div class="header_navbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img src="{% static 'images/logo.png' %}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li>
                                <a href="{% url 'index' %}">Home <span
                                        class="line"></span></a>
                            </li>
                            <li>
                                <a href="{% url 'categories' %}">Categories <span
                                        class="line"></span></a>
                            </li>
                            <li>
                                <a class="active"
                                    href="{% url 'signin' %}">Pages <i
                                        class="fa fa-angle-down"></i> <span class="line"></span><button
                                        class="sub-nav-toggler"> <span></span> </button></a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'product' %}">Products</a>
                                    </li>
                                    <li><a href="{% url 'product_details' %}">Product
                                            Details</a></li>
                                    <li><a class="active"
                                            href="{% url 'signin' %}">Sign In</a>
                                    </li>
                                    <li><a href="{% url 'signup' %}">Sign Up</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li><a href="{% url 'contact' %}">Contact <span
                                        class="line"></span></a></li>
                        </ul>
                    </div>
                    <div class="navbar_btn">
                        <ul>
                            <li>
                                <div class="dropdown">
                                    <a href="{% url 'index' %}"
                                        class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">My Account</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <ul>
                                            <li><a href="{% url 'dashboard' %}">
                                                <i class="fa-solid fa-gauge"></i> Dashboard</a></li>
                                            <li><a
                                                    href="{% url 'profile_settings' %}">
                                                    <i class="fa-solid fa-gear"></i> Profile Settings</a></li>
                                            <li><a href="{% url 'myads' %}">
                                                <i class="fa-solid fa-layer-group"></i> My Ads</a></li>
                                            <li><a
                                                    href="{% url 'offers_msgs' %}">
                                                    <i class="fa-solid fa-envelope"></i> Offers/Messages</a></li>
                                            <li><a href="{% url 'payments' %}">
                                                <i class="fa-solid fa-wallet"></i> Payments</a></li>
                                            
                                            
                                            <li><a href="{% url 'index' %}"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a class="sign-up"
                                    href="{% url 'post_ads' %}">Post Ads</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="page_banner bg_cover" style="background-image: url({% static 'images/page-banner.jpg' %})">
            <div class="container">
                <div class="page_banner_content">
                    <h3 class="title">Sign In</h3>
                    <ul class="breadcrumb">
                        <li><a href="{% url 'signin' %}">Home</a></li>
                        <li>Sign In</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <section class="sign_in_area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7 col-sm-9">
                    <div class="sign_in_form">
                        <div class="sign_title">
                            <h5 class="title">Sign In Now</h5>
                        </div>
                        <form action="{% url 'signin' %}">
                            <div class="sign_form_wrapper">
                                <div class="single_form">
                                    <input type="email" placeholder="Username">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div class="single_form">
                                    <input type="password" placeholder="Password">
                                    <i class="fa-solid fa-key"></i>
                                </div>
                                <div class="single_form d-sm-flex justify-content-between">
                                    
                                    <div class="sign_forgot">
                                        <a href="{% url 'signin' %}">Forgot
                                            Password?</a>
                                    </div>
                                </div>
                                <div class="single_form">
                                    <button class="main-btn">Sign In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    


    <footer class="footer_area">
        <div class="footer_copyright pt-15 pb-30">
            <div class="container">
                <div class="footer_copyright_wrapper text-center d-sm-flex justify-content-between align-items-center">
                    <div class="copyright mt-15">
                        <p>Designed and Developed by <a href="https://graygrids.com/" rel="nofollow">GrayGrids</a></p>
                    </div>
                    <div class="payment mt-15">
                        <ul>
                            <li><a href="{% url 'product_details'%}"><img
                                        src="{% static 'images/payment-method1.jpg' %}"
                                        alt="payment"></a></li>
                            <li><a href="{% url 'product_details'%}"><img
                                        src="{% static 'images/payment-method2.jpg' %}"
                                        alt="payment"></a></li>
                            <li><a href="{% url 'product_details'%}"><img
                                        src="{% static 'images/payment-method3.jpg' %}"
                                        alt="payment"></a></li>
                            <li><a href="{% url 'product_details'%}"><img
                                        src="{% static 'images/payment-method4.jpg' %}"
                                        alt="payment"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <a href="{% url 'signin' %}" class="back-to-top"><i
            class="fa fa-angle-up"></i></a>






</body>

</html>

{% endblock %}